---
const title = 'Sobre Mi';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href='/'>Inicio</a></li>
        <li><a href='/about/'>Sobre Mi</a></li>
        <li><a href='/blog/'>Blog</a></li>
      </ul>
      <h1>{title}</h1>
    </header>
    <h2>... ¡y mi primer Blog usando Astro!</h2>
    <p>
      Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda
      pagina que estoy desarrollando en este proyecto.
    </p>
    <p>
      Este sitio se ira actualizando a medida que vaya avanzando en el curso de
      astro.
    </p>
  </body>
</html>
