---
const title = 'Mi blog con astro de aprendizaje';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href='/'>Inicio</a></li>
        <li><a href='/about/'>Sobre Mi</a></li>
        <li><a href='/blog/'>Blog</a></li>
      </ul>
      <h1>{title}</h1>
    </header>
    <p>Aqui es donde publicare sobre mi viaje de aprendizaje Astro.</p>
  </body>
</html>
