---
import BaseLayout from '../components/layouts/BaseLayout.astro';

const pageTitle = 'Mi primer proyecto con Astro';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtitulo del blog</h2>
</BaseLayout>
