---
import Social from './Social.astro';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    Más información sobre mis proyecto en <Social
      platform='github'
      username='HauroDev'
    />
  </p>
  <p>
    Seguime en <Social
      platform='twitter'
      username='HauroDev'
    /> si quieres saber mas de mi
  </p>
</footer>
